html, body {
    background-color: #eee;
    --dark-primary: #000a98;
}

body.userarea {
    overflow-y: scroll;
}

.centered-logo {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    margin-top: 8vh;
    margin-bottom: 5vh;
}
.centered-logo span {
    color: var(--blue);
}

.mm-logo {
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-weight: bold;
    color: var(--dark)!important;
    font-size: 24px;
    line-height: 30px;
}
.mm-logo span{
    color: var(--white);
}

.copyright-info{
    text-align: center;
    margin: 10px 0;
    margin-top: 14px;
    font-size: 14px;
}

.in {
    overflow: visible;
    width: 98%;
    max-width: 1050px;
    margin: auto;
    display: block;
}
.in.flex {
    display: flex;
}
.userarea .container-fluid, .userarea .container {
    max-width: 960px;
}

#main-menu .search_input {
    height: 35px!important;
    font-size: 14px;
}

#main-menu .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
}
#main-menu .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}

.page-container{
    padding-top: 15px;
    padding-bottom: 15px;
}

.right-main-container .card{
    margin-bottom: 20px;
}

.posts-container .post{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.posts-container .post:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

.left-menu .material-icons, .btn .material-icons, a > .material-icons{
    vertical-align: bottom;
}
.visibility .material-icons{
    vertical-align: bottom;
    font-size: 16px;
    margin-left: 5px;
}

.profile-info p{
    margin-bottom: 0;
}

.inside_swal.list-group{
    margin: auto;
    margin-top: 10px;
    max-width: 297px;
}
